
*{
  font-family: 'Segoe UI';
}

.form{
  width: 350px; 
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  position: relative;	
  box-shadow: 1px 7px 26px 3px rgba(0, 0, 0, 0.12);
}

.title h1{
  text-align: center;
}


.container h1{
  margin-bottom: 20px;
}

